main{
    height: calc(100vh - 200px);
    padding: 0 1rem;
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        .title-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 1rem;
            .title{
                color: var(--light);
                body.light &{
                    color: var(--dark);
                }
            }
        }
        .turnos{
            width: 100%;
            padding: 1rem;
            overflow-y: scroll;
            .turno{
                display: grid;
                grid-template-columns: 25% 50% 25%;
                grid-template-rows: repeat(2, 1fr);
                justify-items: center;
                align-items: center;
                row-gap: 10px;
                border-radius: 10px;
                box-shadow: 0 5px 15px #00000026;
                padding: 1rem .5rem;
                margin-bottom: 2rem;
                background-color: #151D20;
                body.light &{
                    background-color: var(--light);
                }
                .status-container{
                    grid-column: 1/4;
                    row-gap: 1rem;
                }
                .pendiente{
                    font-weight: 400;
                    color: #efd800;
                }
                .realizado{
                    font-weight: 400;
                    color: #2eae32;
                }
                .fecha, .horario{
                    font-size: 14px;
                    color: var(--light);
                    body.light &{
                        color: var(--dark);
                    }
                }
                .turno-btns{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                }
                .check-input{
                    width: 1.2rem;
                    height: 1.2rem;
                }
                .delete-btn{
                    width: 2rem;
                    margin-left: 1rem;
                    padding-bottom: 5px;
                    border: none;
                    color: rgb(221, 0, 0);
                    background-color: transparent;
                    font-size: 22px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }
    }
}
.add-turno-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    .add-turno-btn{
        width: 140px;
        height: 40px;
        border-radius: 10px;
        padding: .5rem 1rem;
        border: none;
        box-shadow: 0 5px 10px #00000039;
        color: var(--light);
        background-color: rgb(9, 80, 90);
        cursor: pointer;
    }
}
.panel{
    display: none;
    grid-template-rows: auto 1fr;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 280px;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgb(25, 109, 120);
    h2{
        font-size: 18px;
        color: var(--light);
        margin: .5rem 0 2rem 0;
        text-align: center;
    }
    #form-panel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .inputs-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .input{
                width: 80%;
                -webkit-width: 80%;
                height: 30px;
                border: none;
                border-radius: 5px;
                margin-bottom: 1rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .panel-btns{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            height: 2rem;
            .panel-btn{
                width: 80px;
                padding: 4px 8px;
                border: none;
                border-radius: 5px;
                color: var(--light);
                cursor: pointer;
            }
            #cancel-btn{
                background-color: rgba(255, 0, 60, 0.592);
            }
            #cancel-btn:hover{
                background-color: rgba(255, 0, 60, 0.712);
            }
            #add-btn{
                background-color: rgba(0, 210, 233, 0.548);
            }
            #add-btn:hover{
                background-color: rgba(0, 229, 255, 0.788);
            }
        }
    }
}